.places {
  display: grid;
  gap: 80px;
  padding: 92px 48px;
  max-width: 984px;
}

@media screen and (max-width: 900px) {
  .places {
    gap: 73px;
    padding: 88px 24px 90px 24px;
  }
}

@media screen and (max-width: 400px) {
  .places {
    gap: 50px;
    padding: 64px 0 66px 0;
  }
}